---
layout: nil
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}
    </title>

    <link
      rel="stylesheet"
      href="{{ '/assets/css/themes.css' | relative_url }}"
    />

    <script>
      const savedTheme = localStorage.getItem("theme") || "github-dark";
      document.documentElement.setAttribute("data-theme", savedTheme);
    </script>

    {{ content_for_head }}
  </head>
  <body>
    {{ content }}

    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  </body>
</html>
